<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

</head>

<body>
        <header>
            <div class="header-div">
                <img src="/images/logo-mercado-liebre.svg" width="300px" alt="Logo de MercadoLiebre">
                <div class="busqueda">
                    <div class="cuadroBuscar">
                        Buscar productos, marcas y más
                    </div>
                    <div class="iconoBuscar">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <p id=compra><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="menu-nav">

                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <p class="main-hambur"> <a href="#"> <i class="fas fa-bars"></i></a></p>
        </header>
        <section>
            <p class="publicidad"><img src="/images/img-home-banner.jpg" alt="Banner de ofertas"> </p>
        </section>

        <main class="cuerpo">
            <section>
                <h3 class="titulares">Basado en tu última visita</h3>
                <div class="productos">
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="description">
                       <p> <i class="fas fa-truck"></i></p> 
                        <a class="precios">$6.770</a>
                        <a class="descuentos">40% off</a>
                        <h4>Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="description">
                        <i class="fas fa-truck"></i>
                        <a class="precios">$230.000</a>
                        <a class="descuentos">20% off</a>
                        <h4>MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                            class="product_img">
                            <div class="description">
                        <p> <i class="fas fa-truck"></i></p>
                        <a class="precios">$70.500</a>
                        <a class="descuentos">10% off</a>
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="description"></div>
                        <a class="precios">$23.200</a>
                        <a class="descuentos">5% off</a>
                        <h4>SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h3 class="titulares">Ofertas</h3>
                <div class="productos">

                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="description">
                        <i class="fas fa-truck"></i>
                        <a class="descuentos">40% off</a>
                        <a class="precios">$6.770</a>
                        <h4>Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="description">
                        <i class="fas fa-truck"></i>
                        <a class="precios">$230.000</a>
                        <a class="descuentos">20% off</a>
                        <h4>MacBook Pro 2019</h4>
                        </div>/
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="description">
                        <i class="fas fa-truck"></i>
                        <a class="precios">$70.500</a>
                        <a class="descuentos">10% off</a>
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="description">
                        <i class="fas fa-truck"></i>
                        <a class="precios">$23.200</a>
                        <a class="descuentos">5% off</a>
                        <h4>SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>

        </main>

        <footer>
            <ul type="none">
                <p><i class="far fa-credit-card"></i> </p>
                <li><b>Paga con tarjeta o en efectivo</b></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
                <p><i class="fas fa-gift"></i></p>
                <li><b>Envío gratis desde $ 2.500</b></li>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
                <i class="fas fa-user-shield"></i>
                <li><b>Seguridad, de principio a fin</b></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
                <li>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</li>
            </ul>
        </footer>


</body>

</html>