<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

</head>

<body>
    <header>
        <div class="header-div">
            <img src="/images/logo-mercado-liebre.svg" width="300px" alt="Logo de MercadoLiebre">
            <p id='caja'>Buscar productos</p>
            <p id="busqueda"><i class="fas fa-search"></i></p>
            <p id=compra><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="menu-nav">

            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <p class="main-hambur"> <a href="#"> <i class="fas fa-bars"></i></a></p>
    </header>
    <main>
        <div class="fondo">        
        <form class="main-section" id="register" action="" method="get">
            <section id="data-person">
                <h2>Registrarse</h2>
                <div class="box">
                    <label for="name"></label>
                    <input required type="text" name="name" class="rellenar" placeholder="Nombre y apellido">
                </div>
                <div class="box">
                    <label for="usuarioname"></label>
                    <input required type="text" name="name" class="rellenar"  placeholder="Nombre usuari@">
                </div>
                <div class="box">
                    <label for="date"></label>
                    <p class="tittle-items"> Fecha de nacimiento</p>
                <input type="date" name="fecha" value="2021-07-22" min="2018-01-01" max="2022-12-31">
                </div>
                <div class="box">
                    <label for="direction"></label>
                    <input required type="text" name="direction" class="rellenar" placeholder="Dirección domicilio">
                </div>

                <div class="box">
                    <label for="email"></label>
                    <input required type="email" name="email" class="rellenar" placeholder="Correo electrónico">
                </div>          
                <div class="box">
                    <p class="tittle-items">Perfil de usuario</p>
                    <label><input type="radio" name="comprador" value="Efectivo"> Comprador</label>
                    <label><input type="radio" name="comprador" value="Efectivo"> Vendedor</label>
                </div>
                <div class="box">
                    <p class="tittle-items">Categorías</p>
                    <p> <label><input type="radio" name="Category" value="Electro"> Electro</label></p>
                    <p><label><input type="radio" name="Category" value="Moda"> Moda</label></p>
                    <p><label><input type="radio" name="Category" value="Hogar"> Hogar</label> </p>
                    <p><label><input type="radio" name="Category" value="Juguetería"> Juguetería</label></p>
                    <p><label><input type="radio" name="Category" value="Vida-sana"> Vida sana</label></p>
                </div>
                <div class="box">
                  <label>  <input type="file" name="avatar" accept=".jpg" multiple></label>
                </div>
                <div class="box">
                    <label for="password"></label>
                    <input minlength="5" required type="password" name="password" class="rellenar"
                        placeholder="Contraseña">
                </div>
                <div class="box">
                    <label for="confirm-password"></label>
                    <input minlength="5" required type="password" name="confirm-password"  class="rellenar" placeholder="Confirmar contraseña">
                </div>
                <div class="box">
                <button id="send-register" type="submit">Registrarse</button>
                <input type="reset" value="Borrar" id="reset">
                </div>
            
            </section>
            
        </form>
    </div>
    </main>
    <footer>
        <ul type="none">
            <p><i class="far fa-credit-card"></i> </p>
            <li><b>Paga con tarjeta o en efectivo</b></li>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
            <p><i class="fas fa-gift"></i></p>
            <li><b>Envío gratis desde $ 2.500</b></li>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            <i class="fas fa-user-shield"></i>
            <li><b>Seguridad, de principio a fin</b></li>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
            <li>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
    </footer>

</body>

</html>