* {
    margin: 0;
    padding: 0;}

    .fondo{
        background-color: #ebebeb;
        padding-top: 20px ;
        
    }
    #data-person{
        max-width:400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10% ;
    }

    .box{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #send-register, #reset{
        
        padding: 5px 10px 5px 10px;   
        border-radius: 2px;
        margin-right: 20px;

    }

    #data-person h2 {
        color: rgb(60, 36, 82);
    }

    .tittle-items{
        margin-bottom: 7px;
        font-size: 15px;
        font-weight: bold;

    }

    .rellenar{
        width: 200px;
      
    }



    @media (min-width:769px){
        #data-person{
            padding-left: 5% ;
           
            justify-content: left;

            max-width:1200px;
        }

        .rellenar{
            width: 300px;
          
        }
    }

    

